extends layout

block content
  h1= title
  p Welcome to #{title}. The unfamous blogging site!

  h3 Proceed by logging in:
  
  form(method='POST' action='/login')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text' name='author')
    div.form-group
      label(for='content') Password:
      input#content.form-control(type='text' name='content')
    button.btn.btn-primary(type='submit') Login
  
  button.signup-btn(onClick="location.href = '/signup'") Sign up?