extends layout

block content
    header
        div.menu-btn
            div.btn-line
            div.btn-line
            div.btn-line
    .menu
        .menu-nav
            li.nav-item
                a.nav-link Etusivu
            li.nav-item
                a.nav-link Oma sivu
            li.nav-item
                a.nav-link Kaverit
    script(src="javascripts/main.js")

    main

        h3.lg-heading Some epic content
        div.post-box #[strong Jaska]
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe a modi aliquam dolores fugit numquam, tempora commodi aut ratione quasi!

        div.post-box #[strong Jokunen]
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam accusamus deserunt asperiores velit voluptatum placeat obcaecati consequuntur non laborum earum.