extends layout

block content
    header
        div.menu-btn
            div.btn-line
            div.btn-line
            div.btn-line
    .menu
        .menu-nav
            li.nav-item
                a.nav-link#etusivu All posts
            li.nav-item
                a.nav-link Own posts
            li.nav-item
                a.nav-link Friends (?)
    script(src="javascripts/main.js")

    main

        h3.lg-heading Welcome #{user}!
        h3.sm-heading What do you have to say? 

        div.post-box #[strong Jaska]
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe a modi aliquam dolores fugit numquam, tempora commodi aut ratione quasi!

        div.post-box #[strong Jokunen]
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam accusamus deserunt asperiores velit voluptatum placeat obcaecati consequuntur non laborum earum.