extends layout

block content
  h1= title
  p Here is some main page content to enjoy!

  header
    div.menu-btn
        div.btn-line
        div.btn-line
        div.btn-line
    .menu
        .menu-nav
            li.nav-item
                a.nav-link Etusivu
            li.nav-item
                a.nav-link Oma sivu
            li.nav-item
                a.nav-link Kaverit
            