extends layout

block content
    h1= title

    p Fill in your credentials:
    form#myForm(method='POST' action='signup')
        label(for='name') Username:
        br
        input#name.form-control(type='text' name='username')
        br
        label(for='content') Password:
        br
        input#content.form-control(type='password' name='password1' autocomplete="off")
        br
        input#content.form-control(type='password' name='password2' autocomplete="off")
        br
        button.btn.btn-primary(type='submit') Create account
