extends layout
    
block content
  h1.lg-heading= title
  
  h2 Submit New Post
  form(method='POST' action='/wall/createPost')
    div.form-group
      label(for='content') Write your post!
      input#content.form-control(type='text' maxlength= "140" name='content')
    button.btn.btn-primary(type='submit') Submit post!
  
  ul
  each post in post_list
    li #{post.author}: #{post.content}
  else
      li There are no posts yet.