extends layout

block content

  h1.lg-heading= title
  
  h2 Submit New Post (Refresh page to return to main)

  div.form-group.tweet-box
    label Write your post!
    textarea.tweet-input#textBox(maxlength='140' bind:value='message')
    button.active.submitbtn(onClick='createPost()') Submit!
    span 140

  div#posts
    each post in post_list.reverse()
      div.postBox <strong> #{post.author} </strong> <br> #{post.content}

