@charset "UTF-8";
h1 {
  color: #444; }

h3 {
  color: #eece1a; }

body  {
  background: #444;
  color: #eece1a;
  padding: 50px;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }
