$primary-color: #c4ffee;
$secondary-color: #0b28b8;
$background-opacity: 0.7;

* {
  box-sizing: border-box;
}

@mixin easeOut {
  transition: all 0.5s ease-out;
}

// Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 4rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        background: rgba( lighten($primary-color, 2) , $background-opacity);
    }
}

body {
  z-index: -1;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgba($primary-color, $background-opacity);
  height: 100%; 
  margin: 1%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  padding: 0.2rem 1rem;

  button {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
}

h1 {
  color: $secondary-color;
}

a {
  color: #00B7FF;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  .post-box {
    background: darken($primary-color, 50);
    padding: 0.5rem;
    margin: 1rem;
    border: $secondary-color 5px solid;
  }
}

.tweet-box {
  font-size: 18px;
  padding: 10px;
  position: relative;
}
.tweet-input {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  padding: 15px 12px;
  outline: none;
  width: 100%;
}
span {
  float: right;
  padding: 18px 14px;
}
.warning {
  color: #a76c00;
}
.danger {
  color: #800000;
}
button {
  background-color: #ccc;
  border: 1px solid #eee;
  border-radius: 10px;
  color: #fefefe;
  font-size: 18px;
  float: right;
  margin-top: 10px;
  padding: 10px 25px;
}
button:hover {
  background-color: #333;
}
button.active {
  background-color: #008cff;
  cursor: pointer;
}

// #textBox {
//   width: 150px;
//   height: 120px;
// }

.postBox {
  background: lighten($primary-color, 6);
  padding: 0.5rem;
  border: lighten($secondary-color, 0.5) 2px solid;
  margin-bottom: 10px;
}

// Menu button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: $secondary-color;
    @include easeOut;
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding, 
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, $amount: 5);
    list-style: none;
    transform:  translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
        // Slide in from top
      transform: translate3d(0,0,0);
    }
  }

  &-branding {
      background: $primary-color;
      transform:  translate3d(0, 100%, 0);
      @include easeOut;

      &.show {
        // Slide in from bottom
        transform: translate3d(0,0,0);
      }

      .portrait {
        width: 250px;
        height: 250px;
        // background: url(../img/portrait.jpeg);
        background-position: -183px 0px;
        border-radius: 50%;
        border: solid 3px $secondary-color;
      }
    }

    .nav-item {
      transform: translate3d(600px,0,0);
      @include easeOut;
      
      &.show {
        // Slide in from right
        transform: translate3d(0,0,0);
      }

      &.current > a {
          color: $secondary-color;
      }
    }

    .nav-link {
      display: inline-block;
      position: relative;
      font-size: 30px;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 300;
      color: $secondary-color;
      text-decoration: none;
      @include easeOut;

      &:hover {
          color: $secondary-color;
      }
    }
}

// Delay each nav item by 0.1s
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}