$primary-color: #444;
$secondary-color: #eece1a;

h1 {
  color: $primary-color;
}

h3 {
  color: $secondary-color;
}

body {
  background: $primary-color;
  color: $secondary-color;
  padding: 50px;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}